---
import DashboardLayout from "../../../layouts/DashboardLayout.astro"
import Map from "../../../components/Map"

---

<DashboardLayout title='Aparca Ya'>
    <p>Dashboard</p>
    <Map />
</DashboardLayout>