<button
  id='google'
  class='flex w-full justify-center px-3 py-1.5 leading-6 border gap-2 border-slate-200 dark:border-slate-700 font-semibold rounded-md text-slate-700 dark:text-slate-200 hover:border-slate-400 dark:hover:border-slate-500 hover:text-slate-900 dark:hover:text-slate-300'
>
  <img
    class='w-6 h-6'
    src='https://www.svgrepo.com/show/475656/google-color.svg'
    loading='lazy'
    alt='google logo'
  />
  <span>Entra amb Google</span>
</button>
<script>
  import {
    getAuth,
    GoogleAuthProvider,
    signInWithPopup,
    type UserCredential,
  } from 'firebase/auth'
  import { app } from '../../firebase/client'
  import { toast } from 'react-toastify'

  const auth = getAuth(app)
  const googleSignin = document.querySelector('#google') as HTMLButtonElement
  googleSignin.addEventListener('click', async () => {
    const provider = new GoogleAuthProvider()

    let userCredential: UserCredential
    try {
      userCredential = await signInWithPopup(auth, provider)
    } catch (error) {
      toast.warning('Error identificant-te amb Google', {
        position: 'top-right',
        autoClose: 5000,
        hideProgressBar: false,
        closeOnClick: true,
        pauseOnHover: true,
        draggable: true,
        progress: undefined,
        theme: 'light',
      })
      return
    }
    try {
      const idToken = await userCredential.user.getIdToken()
      const response = await fetch('/api/auth/signin', {
        headers: {
          Authorization: `Bearer ${idToken}`,
        },
      })

      if (response.redirected) {
        toast.success(`Benvingut ${userCredential.user.displayName}`, {
          position: 'top-right',
          autoClose: 1000,
          hideProgressBar: false,
          closeOnClick: true,
          pauseOnHover: true,
          draggable: true,
          progress: undefined,
          theme: 'light',
        })
        setTimeout(() => {
          window.location.assign(response.url)
        }, 1500)
      }
    } catch (error) {
      toast.error('Ha passat un error, intenta-ho més tard', {
        position: 'top-right',
        autoClose: 5000,
        hideProgressBar: false,
        closeOnClick: true,
        pauseOnHover: true,
        draggable: true,
        progress: undefined,
        theme: 'light',
      })
    }
  })
</script>